name: Run tests

on:
  push:
    branch: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 9 * * 1,2,3,4,5'

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Setup golang environment
        uses: actions/setup-go@v3
        with:
          go-version: '1.18.4'
        
      - name: Install dependencies
        run:
          go mod tidy

      - name: Run unit tests
        run:
          go test -v ./service/... 
          go test -v ./utils/... 
          go test -v ./handler/... 